In [4]:
import pandas as pd

# Example DataFrame
data = {'datetime_name': ['2003-07-12 12:07:18.002811Peck-Rivera']}
df = pd.DataFrame(data)

# Splitting the column into two separate columns
df[['datetime', 'name']] = df['datetime_name'].str.extract(r'(\d+\-\d+\-\d+\s\d+:\d+:\d+\.\d+)([A-Z][a-z]+\-?[A-Z]?[a-z]+)')

print(df)

                           datetime_name                    datetime  \
0  2003-07-12 12:07:18.002811Peck-Rivera  2003-07-12 12:07:18.002811

          name
0  Peck-Rivera
                           datetime_name                    datetime  \
0  2003-07-12 12:07:18.002811Peck-Rivera  2003-07-12 12:07:18.002811

          name
0  Peck-Rivera

In [10]:
l = ["None", "NaN", "NA", "-inf", None]

string = ["", "Hallo", "Willcolmene", None]

if set(string).intersection(l):
    print(set(string).intersection(l))
if any(string) in l: 
    print("HELP")

{None}

In [1]:
string1 = "1994-06-23 00:06:06.885525"
print(len(string1))

26

In [11]:
ll = ['93', 'Hannah Armstrong', nan, 'DarkSeaGreen', 'Translator', 'West Brad', "(Decimal('6.991624'), Decimal('-12.892456'))", '1998-04-20 15:34:53.902764', 'Hughes Inc']
print(set(ll))

NameError: name 'nan' is not defined